/* Background color for the entire page */
/* body {
    background-color: slategray;
} */

/* Sticky Footer */
.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    /* padding: 55px;            */
}

.blk {
    color: black;
}

.col-lg-5 {
    margin-bottom: 35px;
}

.projects {
    background-color: rgb(235, 212, 212); 
}

.background2 {
    background-color: rgb(154, 128, 128);
}

.theme {
    background-color: rgb(41, 35, 35);
}

.centertxt {
    display: block;
    text-align: center;
}

body {
    font-family: "Montserrat", sans-serif;
}
.wrap-left {
    padding-left: 2.5rem;
}

.cent-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

img {
    max-width: 100vw;
    max-height: 80vh;
    object-fit: contain;
}

.bolded { font-weight: bold !important; }


.centertxt2 {
    display: inline;
    text-align: center;
}

.round1 {
    border-radius: 25px;
}

.responsive1 {
    max-width: 100vw
}